### Importando base de dados

In [46]:
path_dados = "Downloads/Students Social Media Addiction.csv"

### Aqui vamos ler os dados

In [47]:
import pandas as pd
df = pd.read_csv(path_dados)
display(df)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [48]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    str
 3   Academic_Level                705 non-null    str
 4   Country                       705 non-null    str
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    str
 7   Affects_Academic_Performance  705 non-null    str
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    str
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), str(6)
memory usage: 71.7 KB

In [49]:
df.describe()

,Student_ID,Age,Avg_Daily_Usage_Hours,Sleep_Hours_Per_Night,Mental_Health_Score,Conflicts_Over_Social_Media,Addicted_Score
count,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000
mean,353.000000,20.659574,4.918723,6.868936,6.226950,2.849645,6.436879
std,203.660256,1.399217,1.257395,1.126848,1.105055,0.957968,1.587165
min,1.000000,18.000000,1.500000,3.800000,4.000000,0.000000,2.000000
25%,177.000000,19.000000,4.100000,6.000000,5.000000,2.000000,5.000000
50%,353.000000,21.000000,4.800000,6.900000,6.000000,3.000000,7.000000
75%,529.000000,22.000000,5.800000,7.700000,7.000000,4.000000,8.000000
max,705.000000,24.000000,8.500000,9.600000,9.000000,5.000000,9.000000

In [50]:
df.isnull().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

### Já verificamos se existe valores nulos na nossa base de dados e também os tipos de dados estão corretos e não vamos precisar fazer nenhuma alteração

#### Vamos transformar todas os nomes das nossas colunas em minúsculo para facilitar o nosso trabalho e ficar mais performático

In [51]:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['student_id', 'age', 'gender', 'academic_level', 'country',
       'avg_daily_usage_hours', 'most_used_platform',
       'affects_academic_performance', 'sleep_hours_per_night',
       'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='str')

#### Aqui a coluna 'student_id' ela é redundante e então podemos excluir ela

In [52]:
df.drop(columns=['student_id'], inplace=True)

In [53]:
print(df.columns)

Index(['age', 'gender', 'academic_level', 'country', 'avg_daily_usage_hours',
       'most_used_platform', 'affects_academic_performance',
       'sleep_hours_per_night', 'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='str')

#### Conexão com o banco de dados

In [62]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

user = "postgres"
senha = "o5O$RD1,JWHMjF@n"
senha_codificada = quote_plus(senha)

banco_de_dados = "postgres"
host = "localhost"
porta = 5432

conexao = create_engine(
    f"postgresql+psycopg2://{user}:{senha_codificada}@{host}:{porta}/{banco_de_dados}"
)

#### Enviando os dados para o banco

In [63]:
df.to_sql(
    "status_social_media_addiction",
    conexao,
    if_exists="append", # ou "replace" se quiser recriar
    index=False
)

with conexao.connect() as conn:
    print("Conectado com sucesso!")

Conectado com sucesso!